body > h2 {
	text-align: center;
	margin-top: 50px;
	padding: 20px;
	background: #eee;
	box-shadow: 0 3px 6px #ccc;
}

.main {
	width: 90%;
	border-radius: 10px;
	margin: 50px auto;
	padding: 20px 0;
	text-align: center;
	background: #eee;
	box-shadow: 0 3px 6px #ccc;
}

.main form > input {
	width: 300px;
	margin: 15px auto;
}
.main form > div {
	width: 300px;
	margin: 15px auto;
}
.main form > button {
	margin: auto;
	display: block;
}

